.btn-report {
  color: #fff;
  background-color: #DC3545;
  border-color: #DC3545;
} 

.btn-report:hover, .btn-report:active {
  color: #fff;
  background-color: #be1727;
  border-color: #be1727;
}

.btn-report.focus, .btn-report:focus {
  color: #fff;
  background-color: #be1727;
  border-color: #be1727;
  box-shadow: 0 0 0 0.2rem rgb(220 53 69 / 50%);
}
