 <footer class="container-footer" id="footer-container" data-is-giftcards-footer-enabled="True">
<div class="footer">
<ul class="row footer-links">  
</div>
        <li class="footer-link">
          <a class="text-footer-nav" href="/" target="_blank">Home</a>
        </li>
        <li class="footer-link">
          <a class="text-footer-nav" href="/about" target="_blank">Acerca de la pagina</a>
        </li>
        <li class="footer-link">
          <a class="text-footer-nav" href="/subscripcion" target="_blank">Subscripcion</a>
        </li>
        <li class="footer-link">
          <a class="text-footer-nav" href="/error404" target="_blank">Inicia sesión o Crear una cuenta </a>
        </li>
        <li class="footer-link">
          <a class="text-footer-nav" href="/contents" target="_blank">contents</a>
        </li>
      </ul>
 <div class="col-sm-6 col-md-3">
</div>
  <div class="col-sm-12">
    </div>
    <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0">Copyright &copy; Sebas contents Inc 2020-2024</div>
                    </div>
    </div>
 </footer>
